name: main

on:
  push:
    branches:
      - main

env:
  PYPI_TOKEN_TEST: ${{ secrets.PYPI_TOKEN_TEST }}

jobs:
  build_package_publish:
    name: "black → test → build → release_test"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: black
        run: |
          make black
          
      - name: test
        run: |
          make test
          
      - name: build
        run: |
          make version=0.0.$GITHUB_RUN_NUMBER build
          
      - name: release_test
        run: |
          make release_test token=$PYPI_TOKEN_TEST
